{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if not user %}
        <div class="space-x-4 p-4">
            <a href="{{ path('app_login') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                Se connecter
            </a>
            <a href="{{ path('app_register') }}" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">
                S'inscrire
            </a>
        </div>
    {% else %}
        {% if is_granted('ROLE_PHARMACIE') %}
            <p>Bienvenue, {{ user.getId}} {{ user.getNom}} avec le rôle Pharmacie !</p>
        {% endif %}
        {% if is_granted('ROLE_MEDECIN') %}
            <p>Bienvenue, {{ user.getNom}} avec le rôle medecin !</p>
        {% endif %}
        {% if is_granted('ROLE_PATIENT') %}
            <p>Bienvenue,{{ user.getId}} {{ user.getNom}} avec le rôle Patient  !</p>
        {% endif %}



    {% endif %}
{% endblock %}
