<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# Preload critical assets #}
    <link rel="preload" href="{{ asset('build/app.css') }}" as="style">
    <link rel="preload" href="{{ asset('build/app.js') }}" as="script">

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="icon" href="{{ asset('assets/img.jpg') }}">

    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js" defer></script>
    {% endblock %}
</head>
<body class="min-h-screen bg-gray-50">
{% block body %}{% endblock %}



</body>
</html>